<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>ID: {{ quiz.id }}</li>
        <li>問題文: {{ quiz.question.sentence }}</li>
        <li>選択肢A: {{ quiz.question.choiceA }}</li>
        <li>選択肢B: {{ quiz.question.choiceB }}</li>
        <li>選択肢C: {{ quiz.question.choiceC }}</li>
        <li>選択肢D: {{ quiz.question.choiceD }}</li>
        <li>解答: {{ quiz.question.correctChoice }}</li>
    </ul>
    <h2>正解者</h2>
    <ol>
        {% for object in object_list.correct %}
        <li>{{ object }}</li>
        {% endfor %}
    </ol>
    <h2>不正解者</h2>
    <ol>
        {% for object in object_list.incorrect %}
        <li>{{ object }}</li>
        {% endfor %}
    </ol>
</body>
</html>