<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        {% for object in object_list %}
        <li>
            <ul>
                <li>ID: {{ object.id }}</li>
                <li>解答の対象: {{ object.quiz.id }}</li>
                <li>クイズ: {{ object.quiz.question.sentence }}</li>
                <li>ユーザのUUID: {{ object.user.id }}</li>
                <li>ユーザの解答: {{ object.choice }}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>
</body>
</html>