<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>INIAD-Q</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <header class="mx-auto">
			<div class="flex justify-between items-center">
				<a href=""><h1 class="text-4xl p-3 bg-clip-text text-transparent bg-gradient-to-r from-red-300 to-yellow-300">INIAD-Q</h1></a>
					<!-- 
					<button>
						<svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
							<path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
						</svg>                       
					</button>
					-->
			</div>
			<div class="bg-clip-content bg-gradient-to-b from-red-300 to-yellow-300 text-white">
				<ul>
					<li><a href="#" class="block px-8 py-3 hover:bg-white hover:bg-opacity-25">HOME</a></li>
					<li><a href="#ABOUT" class="block px-8 py-3 hover:bg-white hover:bg-opacity-25">ABOUT</a></li>
					<li><a href="#RANKING" class="block px-8 py-3 hover:bg-white hover:bg-opacity-25">RANKING</a></li>
					<li><a href="#REGISTER" class="block px-8 py-3 hover:bg-white hover:bg-opacity-25">REGISTER</a></li>
				</ul>
			</div>
        </header>
		<section class="p-10 text-center">
			<!-- Main Visual -->
			<div>
			<h2 class="text-6xl font-light border-b-2 border-orange-100">INIAD-Q</h2>
			</div>
		</section>
		<section class="sm:flex text-center items-center justify-center">
			<!-- About Section -->
			<div>
				<h2 class="transform rotate-0 sm:rotate-90 text-4xl sm:text-5xl ">ABOUT</h2><br>
			</div>
			<div class="font-light text-gray-600 sm:mr-12">
				<h3 class="text-2xl border-b-2 border-orange-100">Overview</h3><br>
				<p>texttexttexttexttexttexttexttexttext</p><br>
				<h3 class="text-2xl border-b-2 border-orange-100">Rule</h3><br>
				<p>texttexttexttexttexttexttexttexttext</p><br>
				<h3 class="text-2xl border-b-2 border-orange-100">Schedule</h3><br>
				<ul>
					<li>10.29 13:00~</li>
					<li>10.29 13:00~</li>
					<li>10.29 13:00~</li>
				</ul><br>
			</div>
		</section>
		<section class="sm:flex flex-row-reverse items-center justify-center">
			<!-- Ranking Section -->
			<div>
				<h2 class="transform rotate-0 sm:rotate-90 text-4xl sm:text-5xl text-center">RANKING</h2><br>
			</div>
			<div class="flex-initial justify-center w-auto overflow-y-auto mr-6 ml-6 sm:mr-0 h-96 border-2 border-orange-300 rounded">
				<select name="competition" class="">
				<!--　開催回を選んで下のテーブルを書き換えたい-->
					<option>第1回</option>
					<option>第2回</option>
				</select>
				<table class="text-gray-800 w-full sm:w-auto">
					<thead class="text-left border-b-2 border-orange-300">
						<tr>
							<th class="px-4 py-3">#</th><th class="px-4 py-3">Name</th><th class="px-4 py-3">Score</th>
						</tr>
					</thead>
					<tbody>
						{% for userScore in userScores %}
						<tr>
							<td class="px-4 py-3">{{ userScore.temp_rank }}</td><td class="px-4 py-3">{{ userScore.uuid }}</td><td class="px-4 py-3">{{ userScore.score }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section><br>
		<section>
			<!-- Register Section -->
			<div class="p-20 items-center leading-10 text-center font-light text-white bg-gradient-to-r from-red-300 to-yellow-300">
				<h2 class="text-5xl ">REGISTER</h2>
				<form class="mt-10">
					<label for="nickname">ニックネーム（必須）</label>
					<input type="text" class="text-gray-600" value="" minlength="2" maxlength="10" id="nickname">
					<button type="submit" class="mt-10 pl-3 pr-3 pt-2 pb-2 text-2xl bg-white bg-opacity-25 btn">参加</button>
				</form>
			</div>
		</section>
		<footer class="m-5 text-center">
			<p>©2022 INIAD-FES実行委員会</p>
		</footer>
    </body>
</html>