<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>INIAD-Q</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<header class="mx-auto">
			<div class="flex justify-between items-center">
				<div>
					<a href=""><h1 class="text-4xl p-3 bg-clip-text text-transparent bg-gradient-to-r from-red-300 to-yellow-300">INIAD-Q</h1></a>
				</div>
				<div class="p-6">
					<p>メッセージ</p>
				</div>
			</div>
        </header>
		<!--待機中画面-->
		<
		<!--配信画面-->
		<!--問題文-->
		<!--回答欄-->
		<!--正解レイヤー-->
		<!--不正解レイヤー-->
		<!--発表画面-->
	</body>
</html>