<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        {% for object in object_list %}
        <li>
            <ul>
                <li>ID: {{ object.id }}</li>
                <li>問題のUUID: {{ object.question.id }}</li>
                <li>問題文: {{ object.question.sentence }}</li>
                <li>開催回のID: {{ object.event.id }}</li>
                <li>開催回の名称: {{ object.event.name }}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>
</body>
</html>