<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>問題文</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
                <th>正解</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.sentence }}</td>
                <td>{{ object.choiceA }}</td>
                <td>{{ object.choiceB }}</td>
                <td>{{ object.choiceC }}</td>
                <td>{{ object.choiceD }}</td>
                <td>{{ object.correctChoice }}</td>
                <td>
                    <button>出題する</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ol>
        
    </ol>
</body>
</html>